html {
  font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
}

nav ul a {
  font-size: 1.25rem;
}

p {
  font-size: 1.1rem;
}

.banner {
  width: 100%;
  max-width: 100%;
}

.center-children {
  display: flex;
  justify-content: center;
}
